*{
	box-sizing: border-box;
}

.h1{
	font-size: 40px;
	text-align: center center;
	color: red;
	font-family: Arial;
}

.equicero{
  height:300px;
  width:300px;
  background-color: blue;
  font-family: arial;
  color: white;
  font-size: 60px
}

.equicero .row{
	height:100px;
}

.equicero .row:not(:last-child){
	border-bottom: 1px solid black;	
}

.equicero .row .cell{
	width:100px;
	height:100px;
	float: left;
	text-align: center;
}

.equicero .row .cell:not(:last-child){
	border-right: 1px solid black;
}