
body{
   background: linear-gradient(to bottom, #000000 0%, #66ccff 100%);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   font-size: 20px;
   text-aling: center;
   font-family: "times New Roman";
   color: #ffff00;
}

h1{
   font-family: "Times New Roman";
   text-transform: uppercase;
   text-align: center;
   font-size: 35;
   color: yellow;

}

h2{
   font-family: "Times New Roman";
   font-size: 25;
   color: yellow ;

}

h3{
   font-size: 25px;
   font-family: "Times New Roman";
   margin: 2px;
   padding: 15px;
   color: #ff0066;
}

a{
	color: #ff3399;
	border-bottom-color: yellow;
	border-bottom: blue;
	
}