* {
  box-sizing: border-box;
}

body {
   background: linear-gradient(to bottom, #000000 0%, #66ccff 100%);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   font-size: 30px;
   text-aling: center;
   font-family: "times New Roman";
   color: #ffff00;
}

.tictactoe {
  height: 300px;
  width: 300px;
  background-color: grey;
  font-size: 25px;
  font-family: helvetica;
  color: white;
  position: center center;
}

.tictactoe .row {
  height: 100px;
}

.tictactoe .row:not(:last-child) {
  border-bottom: 1px solid black;
}

.tictactoe .row .cell {
  width: 100px;
  height: 100px;
  float: left;
  text-align: center;
  padding-top: 34px;
}

.tictactoe .row .cell:not(:last-child) { 
  border-right: 1px solid black;
}
